@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    user-select: none;
}

.btn-Macho {
    background-color: #e83745;
}

.btn-Femea {
    background-color: #e83745;
}

.btn-Filhote {
    background-color: #e83745;
}

.btn-Especiais {
    background-color: #e83745;
}

.btn-Todos {
    background-color: #e83745;
}

.m-3 {
    height: 250px;
    resize: both;
}

.fs-3, .display-4  {
    font-family: 'kablammo';
}

.bi-arrow-up-circle-fill {
    color: rgb(0, 178, 172);
}

.imgSobre {
    width: 250px;
    height: 250px;
    border: solid 0;
    border-radius: 50%;
    margin: 40px;
}

.img-adota {
    height: 250px;
    width: 270px;
}

.img-petz {
    height: 250px;
}

.img-pet {
    height: 250px;
    width: 270px;
}

.img-cat {
    height: 250px;
}

.subtitulo {
    margin-top: 120px;
}

.lista {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 18px;
}

.logo2 {
    height: 300px;
    width: 400px;
}

.card:hover {
    transform: scale(1.10);
    transition: 0.6s;
    z-index: 100;
    cursor: pointer;
}

.card {
    background-color: #eb757f;
}